page-quotes {
    .author {
        color: #ccc;
        text-align: right;
        margin: 0;
        padding: 0;
        // Only in SCSS: shortcut for adding content before
        &:before {
            content: "-";
        }
    }
    // .author:before {
    //     content: "-";
    // }
}
